.popup__button_disabled {
    border: 1px solid currentColor;
    opacity: 20%;
    color: #000;
    background-color: transparent;
  }
  
  .popup__button_disabled:hover {
    background-color: transparent;
    cursor: default;
  }